/* Premium Navbar */
.custom-navbar {
    background: linear-gradient(
        135deg,
        #1e3a8a 0%,
        #2563eb 40%,
        #60a5fa 100%
        );
    padding: 18px 0;
    box-shadow: 0 6px 20px rgba(0,0,0,0.15);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar {
    margin: -10px;
}

/* Brand */
.navbar-brand {
    color: white !important;
    font-size: 1.8rem;
    font-weight: 800;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    padding-left: 30px;
}

/* Hover Effect */
.navbar-brand:hover {
    transform: scale(1.02);
    transition: 0.3s ease;
}

/* Content Area */
.page-container {
    padding: 0 20px;
}

/* Global Font Improvement */
body {
    font-family: "Poppins", sans-serif;
}

/* Mobile */
@media (max-width: 768px) {

    .navbar-brand {
        font-size: 1.2rem;
        text-align: center;
    }

    .page-container {
        padding: 15px;
    }

}
